<p id="notice"><%= notice %></p>

<p>
  <strong>Source:</strong>
  <%= @sound.source %>
</p>

<p>
  <strong>User:</strong>
  <%= @sound.user_id %>
</p>

<%= link_to 'Edit', edit_sound_path(@sound) %> |
<%= link_to 'Back', sounds_path %>
